# Web Framework & Server
fastapi
uvicorn[standard]>=0.29.
pydantic
pydantic-settings

# Database
SQLAlchemy
alembic

# env
python-dotenv>=1.0.0

# Data Processing & Evaluation
pandas
requests
numpy

# LLM & AI
openai